body{
    background: #D9B8C4;
    color: #505050;
}

.navbar-nav{
    margin: 0 auto;
}

.nav-item{
    padding: 0 4em;
}

.container{
    margin-top: 100px;
    width: 43em;
    letter-spacing: 0.1em;
}

#copyright{
    position: absolute;
    bottom: 2px;
    margin: 0 auto;
    text-align: center;
}

#legend{
    margin-bottom: 30px;
}

table{
    width: 100px;
}